/*
SELECT '--color'||codigo||':#'||url||';--color'||codigo||'15:#'||url||'15;--color'||codigo||'20:#'||url||'20;--color'||codigo||'90:#'||url||'90;' from colors

*/

:root {

--color1:#ff4571;--color115:#ff457115;--color120:#ff457120;--color190:#ff457190;--color140:#ff457140;
--color2:#0f89ca;--color215:#0f89ca15;--color220:#0f89ca20;--color290:#0f89ca90;--color240:#0f89ca40;
--color3:#666666;--color315:#66666615;--color320:#66666620;--color390:#66666690;--color340:#66666640;
--color4:#3d4fff;--color415:#3d4fff15;--color420:#3d4fff20;--color490:#3d4fff90;--color440:#3d4fff40;
--color5:#ffbc2f;--color515:#ffbc2f15;--color520:#ffbc2f20;--color590:#ffbc2f90;--color540:#ffbc2f40;
--color6:#913584;--color615:#91358415;--color620:#91358420;--color690:#91358490;--color640:#91358440;
--color7:#cd7f32;--color715:#cd7f3215;--color720:#cd7f3220;--color790:#cd7f3290;--color740:#cd7f3240;
--color8:#84b175;--color815:#84b17515;--color820:#84b17520;--color890:#84b17590;--color840:#84b17540;
--color9:#772c2c;--color915:#772c2c15;--color920:#772c2c20;--color990:#772c2c90;--color940:#772c2c40;
--color10:#cfb53b;--color1015:#cfb53b15;--color1020:#cfb53b20;--color1090:#cfb53b90;--color1040:#cfb53b40;
--color11:#1c7997;--color1115:#1c799715;--color1120:#1c799720;--color1190:#1c799790;--color1140:#1c799740;
--color12:#ebc79e;--color1215:#ebc79e15;--color1220:#ebc79e20;--color1290:#ebc79e90;--color1240:#ebc79e40;
--color13:#8fbc8f;--color1315:#8fbc8f15;--color1320:#8fbc8f20;--color1390:#8fbc8f90;--color1340:#8fbc8f40;
--color14:#89140e;--color1415:#89140e15;--color1420:#89140e20;--color1490:#89140e90;--color1440:#89140e40;
--color15:#135038;--color1515:#13503815;--color1520:#13503820;--color1590:#13503890;--color1540:#13503840;
--color16:#000000;--color1615:#00000015;--color1620:#00000020;--color1690:#00000090;--color1640:#00000040;
--color17:#49910c;--color1715:#49910c15;--color1720:#49910c20;--color1790:#49910c90;--color1740:#49910c40;

}

/*

SELECT 

'item[category="'||codigo||'"] {background-color:var(--color'||colors||'15)}',

'item[category="'||codigo||'"] header {background-color:var(--color'||colors||'20)}' ,
'item[category="'||codigo||'"] medicos {background-color:var(--color'||colors||'20)}',
'item[category="'||codigo||'"] footer share > div {background-color:var(--color'||colors||'20)}',
'item[category="'||codigo||'"] data > created {background-color:var(--color'||colors||'20)}',
'item[category="'||codigo||'"] data > updated {background-color:var(--color'||colors||'20)}' 

FROM "category" WHERE activated=1 and deleted=0 and suites=1

*/
